<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="{{ URL }}assets/admin/img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html"><img src="{{ URL }}assets/admin/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a class="has-arrow" href="#">
                            <span class="fa fa-shopping-cart icon-wrap"></span>
                            <span class="mini-click-non">محصولات</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="Dashboard v.1" href="{{ ADMIN_URL }}product/manufacturer/index?token={{ Token }}"><span class="mini-sub-pro">تولیدکننده</span></a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </nav>
</div>