<header>
    <div class="row no-gutters">
        <div class="col-auto logo-collapse">
            <a href="#" class="logo d-none d-sm-inline-block">
                پنل من
            </a>
            <a href="#" class="sidebar-collapse">
                <span class="fa fa-bars"></span>
            </a>
        </div>

        <div class="col">
            <nav class="navbar float-left top-nav navbar-expand">
                <div class="navbar-nav">
                    <a href="#" class="nav-link ml-3 top-nav-link py-0 align-self-center">
                        <span class="fa fa-cog"></span>
                    </a>
                    <a href="#" id="message-icon" class="nav-link ml-3 top-nav-link py-0 align-self-center" data-toggle="dropdown" data-target="#messag-box" aria-expanded="false" type="button">
                        <span class="fa fa-envelope"></span></a>
                    <div class="dropdown-menu p-0 container" id="message-box">
                        <div class="container-fluid p-0">
                            <ul class="list-group ">
                                <li class="list-group-item">
                                    <div class="row d-flex flex-row flex-nowrap align-items-center">
                                        <div class="col-auto">
                                            <span class="circle"></span>
                                        </div>
                                        <div class="col" style="text-align: right">
                                            سلام خوبی چه خبر
                                        </div>
                                        <div class="col-2">12:58</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row d-flex flex-row flex-nowrap align-items-center">
                                        <div class="col-auto">
                                            <span class="circle"></span>
                                        </div>
                                        <div class="col" style="text-align: right">
                                            سلام خوبی چه خبر
                                        </div>
                                        <div class="col-2">12:58</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row d-flex flex-row flex-nowrap align-items-center">
                                        <div class="col-auto">
                                            <span class="circle"></span>
                                        </div>
                                        <div class="col" style="text-align: right">
                                            سلام خوبی چه خبر
                                        </div>
                                        <div class="col-2">12:58</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row d-flex flex-row flex-nowrap align-items-center">
                                        <div class="col-auto">
                                            <span class="circle"></span>
                                        </div>
                                        <div class="col" style="text-align: right">
                                            سلام خوبی چه خبر
                                        </div>
                                        <div class="col-2">12:58</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row d-flex flex-row flex-nowrap align-items-center">
                                        <div class="col-auto">
                                            <span class="circle"></span>
                                        </div>
                                        <div class="col" style="text-align: right">
                                            سلام خوبی چه خبر
                                        </div>
                                        <div class="col-2">12:58</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row d-flex flex-row flex-nowrap align-items-center">
                                        <div class="col-auto">
                                            <span class="circle"></span>
                                        </div>
                                        <div class="col" style="text-align: right">
                                            سلام خوبی چه خبر
                                        </div>
                                        <div class="col-2">12:58</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <a href="#" class="nav-link ml-0 ml-sm-5 py-0">
                        <div id="nav-profile-image" class="rounded-circle">
                            <img src="{{ URL }}assets/admin/img/profile-image.png" alt="Profile">
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>