<footer class="clearfix">
    <div class="bigWrap">
        <div id="about-us">
            <div>
                <img src="{{ URL }}assets/img/logo.png" alt="Site Logo">
            </div>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
            </p>
        </div>
        <div id="newsletter-box">
            <h2>خبرنامه</h2>
            <p>
                برای دریافت اخرین تخفیفات و پیشنهادات ایمیل خود رو وارد کنید
            </p>
            <div id="newsletter-input">
                <input type="text" placeholder="ایمیل">
                <i class="fa fa-check"></i>
            </div>
        </div>
        <div id="social-box">
            <h2>
                فروشگاه من را دنبال کنید در:
            </h2>
            <div class="social-icon">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
            </div>
            <div class="copy-right">
                copy @ 2018
            </div>
        </div>
    </div>
</footer>