<nav id="nav-top">

    <div class="bigWrap">
        <!-- Contact Info-->
        <div id="contact">
                    <span>
                        <i class="fa fa-envelope"></i>
                        admin@admin.com
                    </span>
            <span style="direction: ltr">
                        <i class="fa fa-phone"></i>
                        +989131111111
                    </span>
        </div>
        <div id="account">
            <a href="#">ورود</a>
            |
            <a href="#">ثبت نام</a>
            |
            <a href="#" id="language">
                فارسی
                <i class="fa fa-caret-down"></i>
            </a>
        </div>
    </div>
</nav>
<header class="clearfix">
    <div class="bigWrap">
        <div id="category">
            <a href="#">
                <i class="fa fa-bars"></i>
                موضوعات
            </a>
            <div id="category-box">
                <ul id="main-category">
                    <li class="active">
                        <a href="#">
                            مردانه
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <div class="sub-category-box">
                            <div class="column">
                                <ul>
                                    <li class="title"><a href="#">    تیشرت</a></li>
                                    <li class="title"><a href="#">    پیراهن</a></li>
                                    <li><a href="#">    پیراهن استین بلند</a></li>
                                    <li><a href="#">    پیراهن استین کوتاه</a></li>
                                    <li class="title"><a href="#">    شلوار</a></li>
                                    <li><a href="#">    شلوار جین</a></li>
                                    <li><a href="#">    شلوار کتان</a></li>
                                    <li><a href="#">    شلوار رسمی</a></li>
                                    <li class="title"><a href="#">    شلوارک</a></li>
                                    <li><a href="#">    پیراهن استین کوتاه</a></li>
                                    <li class="title"><a href="#">    شلوار</a></li>
                                    <li><a href="#">    شلوار جین</a></li>
                                    <li><a href="#">    شلوار کتان</a></li>
                                </ul>

                            </div>
                            <div class="column">
                                <ul>
                                    <li class="title"><a href="#">    تیشرت</a></li>
                                    <li class="title"><a href="#">    پیراهن</a></li>
                                    <li><a href="#">    پیراهن استین بلند</a></li>
                                    <li><a href="#">    پیراهن استین کوتاه</a></li>
                                    <li class="title"><a href="#">    شلوار</a></li>
                                    <li><a href="#">    شلوار جین</a></li>
                                    <li><a href="#">    شلوار کتان</a></li>
                                    <li><a href="#">    شلوار رسمی</a></li>
                                    <li class="title"><a href="#">    شلوارک</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            زنانه
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <div class="sub-category-box">
                            <div class="column">
                                <ul>
                                    <li><a href="#">    مانتو</a></li>
                                    <li><a href="#">    مانتو مجلسی</a></li>
                                    <li class="title"><a href="#">    تاپ و تیشرت</a></li>
                                    <li><a href="#">    تاپ</a></li>
                                    <li><a href="#">    تیشرت</a></li>
                                    <li><a href="#">    پولوشرت</a></li>
                                    <li class="title"><a href="#">    شال و روسری</a></li>
                                    <li><a href="#">    پیراهن استین کوتاه</a></li>
                                    <li class="title"><a href="#">    شلوار</a></li>
                                    <li><a href="#">    شلوار جین</a></li>
                                    <li><a href="#">    شلوار کتان</a></li>
                                </ul>

                            </div>
                            <div class="column">
                                <ul>
                                    <li class="title"><a href="#">    تیشرت</a></li>
                                    <li class="title"><a href="#">    پیراهن</a></li>
                                    <li><a href="#">    پیراهن استین بلند</a></li>
                                    <li><a href="#">    پیراهن استین کوتاه</a></li>
                                    <li class="title"><a href="#">    شلوار</a></li>
                                    <li><a href="#">    شلوار جین</a></li>
                                    <li><a href="#">    شلوار کتان</a></li>
                                    <li><a href="#">    شلوار رسمی</a></li>
                                    <li class="title"><a href="#">    شلوارک</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            کالای دیجیتال
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            لوازم خانگی
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                </ul>
                <div id="category-ads">
                    <img src="{{ URL }}assets/img/ads/ads.png" alt="Category Ads">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="logo">
            <img src="{{ URL }}assets/img/logo.png" alt="Site Logo">
        </div>
        <div id="cart-search">
            <div class="search">
                <div id="search-field">
                    <input type="text" placeholder="جستجو...">
                </div>
                <i class="fa fa-search"></i>
            </div>
            <div class="shopping">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</header>