<div class="alert alert-danger alert-mg-b alert-success-style4 alert-st-bg3" style="direction: rtl;display: none;">
    <button type="button" class="close sucess-op" style="float: left" data-dismiss="alert" aria-label="Close">
        <span class="icon-sc-cl" aria-hidden="true">×</span>
    </button>
    <h3 style="text-align: right;"><strong>خطا!</strong></h3>
    <div class="error-message-box">

    </div>

</div>
<div class="alert alert-success alert-success-style1 alert-st-bg" style="direction: rtl;display: none;">
    <button type="button" class="close sucess-op" style="float: left" data-dismiss="alert" aria-label="Close">
        <span class="icon-sc-cl" aria-hidden="true">×</span>
    </button>
    <h3 style="text-align: right;"><strong>موفقیت!</strong></h3>
    <div class="success-message-box">

    </div>

</div>